@model Employee;
<html>
<head>
    <title>My Page</title>
</head>
<body>
    <div class="container">
        <h1 class="title m-3">My First created Page!</h1>
        <p class="m-3">This text is my first text.</p>
        <div>
            <a asp-controller="home" asp-action="index" class="btn btn-primary m-3">Back</a>
        </div>
    </div>

</body>
</html>